@media (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .nav-list li a:hover {
    color: #2476ff;
  }

  .nav-btn button:hover {
    background-color: #ffffff;
    color: #2476ff;
    border: 1px solid #2476ff;
  }

  .intro-btn:hover {
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid #2476ff;
  }

  .intro-btn:hover i {
    background-color: #ffffff;
    color: #2476ff;
    font-size: 18px;
  }

  .intro-btn:hover button {
    background-color: #ffffff;
    color: #2476ff;
  }

  .pricing-plan:hover {
    box-shadow: 0px 10px 20px #00000026;
  }

  .pricing-btn:hover {
    color: #2476ff;
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid #2476ff;
  }

  .pricing-btn:hover button {
    color: #2476ff;
    background-color: #ffffff;
  }

  .form-group-four a:hover {
    color: #2476ff;
  }

  .form-actions button:hover {
    color: #2476ff;
    background-color: #ffffff;
  }

  .footer-left-section .address span:hover,
  .footer-left-section .phone-number span:hover {
    color: #2476ff;
  }

  .column-one ul li a:hover {
    color: #2476ff;
  }

  .column-two ul li a:hover {
    color: #2476ff;
  }

  .column-three ul li a:hover {
    color: #2476ff;
  }

  .column-four .help span:hover,
  .column-four .your-account span:hover {
    color: #2476ff;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  * {
    animation: none !important;
  }

  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 20px;
    border: none;
    background-color: #f6f8fa;
  }

  .menu-btn i {
    font-size: 20px;
    color: #677788;
  }

  .nav-list {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .intro-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .intro-left-section {
    display: flex;
    padding: 0px 0px 60px 0px;
    width: 100%;
    height: 305px;
  }

  .intro-title {
    align-items: center;
    width: 100%;
  }

  .intro-actions {
    justify-content: center;
  }

  .intro-right-section {
    width: 100%;
    height: 309px;
  }

  .intro-animated-logo-google {
    top: 0%;
    left: 12%;
  }

  .intro-animated-logo-atlassian {
    top: -19.5%;
    left: 42%;
  }

  .intro-animated-logo-asana {
    top: -45%;
    left: 78%;
  }

  .intro-animated-logo-paypal {
    top: -40%;
    left: 15%;
  }

  .intro-animated-logo-google-ads {
    top: -32%;
    left: 32%;
  }

  .intro-animated-logo-weave {
    top: -80%;
    left: 60%;
  }

  .intro-animated-logo-calendar {
    top: -68.5%;
    left: 74%;
  }

  .why-front-section {
    width: 100%;
  }

  .why-front-title {
    width: 70%;
  }

  .why-front-bullet-list {
    justify-content: center;
    width: 100%;
    padding: 0px;
  }

  .bullet-one,
  .bullet-two,
  .bullet-three,
  .bullet-four {
    width: calc(25% - 0px);
  }

  .bullet-three .bottom-section {
    text-align: center;
  }

  .pricing-table {
    flex-direction: column;
    text-align: center;
  }

  .pricing-plan .top-section p {
    width: 100%;
  }

  .pricing-plan .pricing-actions {
    align-items: center;
  }

  .pricing-features {
    width: 100%;
  }

  .feature-item {
    width: calc(50% - 0px);
  }

  .item-content p {
    text-align: start;
    width: 87%;
  }

  .hire-us-section {
    flex-direction: column;
  }

  .hire-us-left-section {
    flex-direction: row;
    padding: 40px 30px 20px;
  }

  .hire-us-form {
    gap: 37px;
    padding: 30px;
  }

  .form-data {
    gap: 20px;
    height: 100%;
  }

  .footer-right-section {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(50% - 0px);
  }
}

@media (max-width: 767px) {
  * {
    animation: none !important;
  }

  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 20px;
    border: none;
    background-color: #f6f8fa;
  }

  .menu-btn i {
    font-size: 20px;
    color: #677788;
  }

  .nav-list {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .intro-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 16px;
  }

  .intro-left-section {
    display: flex;
    padding: 0px 0px 60px 0px;
    width: 100%;
    height: 305px;
  }

  .intro-title {
    text-align: center;
    width: 100%;
  }

  .intro-actions {
    justify-content: center;
  }

  .intro-right-section {
    width: 100%;
    height: 309px;
  }

  .intro-animated-logo-google {
    top: 0%;
    left: 12%;
  }

  .intro-animated-logo-atlassian {
    top: -19.5%;
    left: 42%;
  }

  .intro-animated-logo-asana {
    top: -45%;
    left: 78%;
  }

  .intro-animated-logo-paypal {
    top: -40%;
    left: 15%;
  }

  .intro-animated-logo-google-ads {
    top: -32%;
    left: 32%;
  }

  .intro-animated-logo-weave {
    top: -80%;
    left: 60%;
  }

  .intro-animated-logo-calendar {
    top: -68.5%;
    left: 74%;
  }

  .why-front-section {
    padding: 0px 0px 60px;
  }

  .why-front-title {
    width: 90%;
  }

  .why-front-bullet-list {
    flex-direction: column;
    width: 100%;
    gap: 17px;
    padding: 0px 34px;
  }

  .bullet-one,
  .bullet-two,
  .bullet-three,
  .bullet-four {
    flex-direction: row;
    align-items: center;
    padding: 0px;
  }

  .bullet-one .top-section::before,
  .bullet-one .top-section::after,
  .bullet-two .top-section::before,
  .bullet-two .top-section::after,
  .bullet-three .top-section::before,
  .bullet-three .top-section::after,
  .bullet-four .top-section::before,
  .bullet-four .top-section::after {
    display: none;
  }

  .bullet-one .bottom-section,
  .bullet-two .bottom-section,
  .bullet-three .bottom-section,
  .bullet-four .bottom-section {
    justify-content: left;
    width: 100%;
  }

  .pricing-section {
    padding: 0px 0px 60px;
  }

  .pricing-feature-list {
    padding: 0px 16px;
  }

  .pricing-table {
    flex-direction: column;
    text-align: center;
  }

  .pricing-plan .top-section p {
    width: 100%;
  }

  .pricing-plan .pricing-actions {
    align-items: center;
  }

  .pricing-features {
    width: 100%;
  }

  .pricing-features .top-row-section,
  .pricing-features .bottom-row-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .feature-item {
    align-items: center;
  }

  .item-content {
    padding: 20px 0px;
  }

  .item-content p {
    text-align: left;
    width: 95%;
  }

  .hire-us-section {
    flex-direction: column;
    padding: 0px;
  }

  .hire-us-left-section {
    text-align: center;
    padding: 40px 16px 20px;
  }

  .hire-us-top-section .quotes {
    width: 100%;
  }

  .hire-us-bottom-section {
    align-items: center;
  }

  .hire-us-right-section {
    padding: 30px 16px;
  }

  .hire-us-form {
    gap: 37px;
    padding: 30px;
  }

  .form-data {
    gap: 20px;
    height: 100%;
  }

  footer {
    gap: 40px;
    padding: 80px 16px 40px;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  .footer-left-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .footer-right-section {
    flex-direction: column;
    text-align: center;
  }
}
